<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="dataset" version="3.0">
	<display-name>semmob_server</display-name>
	<servlet>
		<display-name>newsearch</display-name>
		<servlet-name>newsearch</servlet-name>
		<servlet-class>dssearch.controller.NewSearch</servlet-class>
	</servlet>
	<servlet>
		<display-name>showresult</display-name>
		<servlet-name>showresult</servlet-name>
		<servlet-class>dssearch.controller.ShowResult</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>newsearch</servlet-name>
		<url-pattern>/newsearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showresult</servlet-name>
		<url-pattern>/showresult</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>